In [2]:
import numpy as np
import pandas as pd

In [8]:
#series-list of values
a=np.array(['a','b','c','d'])
s=pd.Series(a,index=[1,2,3,4])
print(s)

1    a
2    b
3    c
4    d
dtype: object

In [7]:
#series-dict of values
d={'a':0,'b':1,"c":2,'d':3}
s=pd.Series(d,index=['b','c','d','e'])
print(s)

b    1.0
c    2.0
d    3.0
e    NaN
dtype: float64

In [11]:
#Data Frame-List 
data=[['Gow',10],['ke',13],['ly',19]]
a=pd.DataFrame(data,index=[0,1,2],columns=["Name","Age"])
print(a)

  Name  Age
0  Gow   10
1   ke   13
2   ly   19

In [13]:
#DataFrame-Dict of ndarrays/Lists
data={"Name":["aa","bb","cc","dd"],"Age":[12,14,15,19]}
a=pd.DataFrame(data,index=[0,1,2,3])
print(a)

  Name  Age
0   aa   12
1   bb   14
2   cc   15
3   dd   19

In [ ]:
#panel
import pandas as pd
import numpy as np
data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)), 
   'Item2' : pd.DataFrame(np.random.randn(4, 2))}
p = pd.Panel(data)
print p.major_xs(1)

In [18]:
#panel-major_xs() and minor_xs() 
import pandas as pd
import numpy as np
data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)), 
   'Item2' : pd.DataFrame(np.random.randn(4, 2))}
p = pd.Panel(data)
print(p.major_xs(1))
print(p.minor_xs(1))

In [24]:
#sorting-by index
a=pd.DataFrame(np.random.randn(10,2),columns=['col1','col2'],index=[2,3,1,4,6,5,9,7,0,8])
u=a.sort_index()
print(u)

       col1      col2
0  1.639711  1.607418
1 -0.635508  0.766596
2  0.172569  1.063018
3 -0.666383  0.211317
4  0.420804  0.330663
5 -0.450282 -1.503711
6  1.977008  0.155920
7 -0.880993 -0.003547
8  0.636248 -2.215831
9  0.794761 -0.696833

In [30]:
#sort by values
a=pd.DataFrame({'col':[4,2,1,3],'col2':[3,5,2,1]})
u=a.sort_values(by='col',kind='mergesort')
print(u)

   col  col2
2    1     2
1    2     5
3    3     1
0    4     3

In [17]:
#Aggregations
a=pd.DataFrame(np.random.randn(10,4),index=pd.date_range('1/1/2022',periods=10),columns=["a","b","c","d"])
print(a)

                   a         b         c         d
2022-01-01 -0.222185  0.345311 -0.638250 -0.254456
2022-01-02 -0.668816  0.144375  1.517797 -0.995134
2022-01-03  0.197217 -1.225969  0.462219  1.102056
2022-01-04 -0.938123  0.991781  1.554143 -0.288867
2022-01-05  0.892736  0.429086 -1.203896  0.044629
2022-01-06  1.382621  0.928318  0.713878  0.954918
2022-01-07 -1.786903  1.663207  0.905598  0.419275
2022-01-08 -0.005598 -1.247524  1.102656 -1.077281
2022-01-09  2.054273 -1.563726 -1.016152  0.133456
2022-01-10 -0.501106  0.864340 -0.471634 -0.790222

In [42]:
a=pd.DataFrame(np.random.randn(10,4),index=pd.date_range('1/1/2022',periods=10),columns=["a","b","c","d"])
print(a)
r=a.rolling(window=3,min_periods=1)
print(r.aggregate(np.sum))

                   a         b         c         d
2022-01-01 -1.359089 -1.160567  0.653141  1.158194
2022-01-02  1.166800  1.559290 -0.808362 -0.381661
2022-01-03  0.456590 -0.698703 -1.869587  0.621562
2022-01-04  0.262472 -1.385405  0.400476  1.055486
2022-01-05 -0.990094 -0.271260 -1.272885  1.061243
2022-01-06  0.547072 -2.223310 -0.259275 -1.487050
2022-01-07  0.207326  0.469355  2.173596 -0.316660
2022-01-08 -0.683924  0.222230 -0.560398 -0.015933
2022-01-09 -1.142148 -0.069952  0.586665  2.520228
2022-01-10  0.557580 -0.242208 -0.267079 -0.409828
                   a         b         c         d
2022-01-01 -1.359089 -1.160567  0.653141  1.158194
2022-01-02 -0.192289  0.398723 -0.155221  0.776533
2022-01-03  0.264301 -0.299980 -2.024808  1.398095
2022-01-04  1.885863 -0.524818 -2.277472  1.295387
2022-01-05 -0.271031 -2.355368 -2.741996  2.738291
2022-01-06 -0.180549 -3.879975 -1.131685  0.629679
2022-01-07 -0.235695 -2.025214  0.641435 -0.742467
2022-01-08  0.070474 -1.531724  1.353922 -1.819642
2022-01-09 -1.618747  0.621633  2.199862  2.187635
2022-01-10 -1.268493 -0.089930 -0.240812  2.094467

In [48]:
a=pd.DataFrame(np.random.randn(10,4),index=pd.date_range('1/1/2022',periods=10),columns=["a","b","c","d"])
print(a)
r=a.rolling(window=3,min_periods=1)
print(r[['a','b']].aggregate(np.sum))

                   a         b         c         d
2022-01-01  0.483162 -0.574222  0.748935  0.428874
2022-01-02 -0.056404  0.216800 -0.625402  1.896655
2022-01-03 -0.309682 -0.564615  0.950568 -1.249596
2022-01-04  0.164652  0.337390 -0.694805  1.779367
2022-01-05 -1.236622  2.325350  0.675673  0.775567
2022-01-06  1.084076  1.082314  0.100078  1.407634
2022-01-07 -1.195102  2.083768  2.056107 -1.166306
2022-01-08 -1.370206  0.628187 -0.937971 -0.730324
2022-01-09 -0.940942  1.028500  0.266705  0.139082
2022-01-10 -1.044308 -1.248430 -0.051428 -1.938007
                   a         b
2022-01-01  0.483162 -0.574222
2022-01-02  0.426758 -0.357422
2022-01-03  0.117075 -0.922037
2022-01-04 -0.201434 -0.010426
2022-01-05 -1.381653  2.098125
2022-01-06  0.012105  3.745055
2022-01-07 -1.347649  5.491433
2022-01-08 -1.481232  3.794269
2022-01-09 -3.506249  3.740455
2022-01-10 -3.355455  0.408257

In [16]:
#aggregations
import numpy as np
import pandas as pd
data=pd.DataFrame([[1,4,0],[4,3,5],[10,6,5]],columns=['X1','X2','X3'])
print(data)
print('\n')
#print(data.agg(['sum','min']))
print('\n')
print(data.agg({'X1':['sum','max'],'X2':['sum','min'] }))

   X1  X2  X3
0   1   4   0
1   4   3   5
2  10   6   5




       X1    X2
sum  15.0  13.0
max  10.0   NaN
min   NaN   3.0

In [6]:
#Groupby
a=pd.DataFrame({"name":["csk","kkr","mi","rcb","csk","mi"],'year':[2001,2003,2001,2004,2006,2007],"rank":[1,2,3,12,3,4]})
print(a)

  name  year  rank
0  csk  2001     1
1  kkr  2003     2
2   mi  2001     3
3  rcb  2004    12
4  csk  2006     3
5   mi  2007     4

In [54]:
b=a.groupby(["name","year"]).groups
print(b)

{('csk', 2001): [0], ('csk', 2006): [4], ('kkr', 2003): [1], ('mi', 2001): [2], ('mi', 2007): [5], ('rcb', 2004): [3]}

In [15]:
grouped=a.groupby("year")
for name,group in grouped:
    print(name)
    print(group)

2001
  name  year  rank
0  csk  2001     1
2   mi  2001     3
2003
  name  year  rank
1  kkr  2003     2
2004
  name  year  rank
3  rcb  2004    12
2006
  name  year  rank
4  csk  2006     3
2007
  name  year  rank
5   mi  2007     4